@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Tajawal', sans-serif;
    background-color: #fcfcfc;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #6d28d9;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5b21b6;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}